---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - postgres-monitoring-deployment.yaml
  - postgres-monitoring-service.yaml
  - json-configmap.yaml
  - json-deployment.yaml
  - json-service.yaml

namespace: aap
