---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: quay-config
  namespace: quay-ephemeral
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: bitwarden-fields
    kind: ClusterSecretStore
  target:
    name: quay-config
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        config.yaml: |
          SERVER_HOSTNAME: quay-ephemeral-quay-ephemeral.apps.ocp.lab.danielsson.us.com
          SECRET_KEY: "{{ .secretKey }}"
          DATABASE_SECRET_KEY: "{{ .dbSecretKey }}"
          SUPER_USERS:
            - "admin"
          FEATURE_MAILING: false
          FEATURE_REQUIRE_EMAIL_CONFIRMATION: false
          DB_URI: "postgresql://postgres:{{ .dbPassword }}@localhost/quay"
          BUILDLOGS_REDIS:
              host: localhost
              port: 6379
          USER_EVENTS_REDIS:
              host: localhost
              port: 6379
          DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
          DISTRIBUTED_STORAGE_PREFERENCE:
            - local_storage
          DISTRIBUTED_STORAGE_CONFIG:
            local_storage:
              - LocalStorage
              - storage_path: /datastorage/registry
          SETUP_COMPLETE: true
          DB_CONNECTION_ARGS:
            threadlocals: true
            autorollback: true
  data:
    - secretKey: secretKey
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ocp-lab/quay-config
        property: SECRET_KEY
    - secretKey: dbSecretKey
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ocp-lab/quay-config
        property: DATABASE_SECRET_KEY
    - secretKey: dbPassword
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: ocp-lab/quay-config
        property: DB_PASSWORD
