---
apiVersion: v1
kind: Secret
metadata:
  name: quay-config
  namespace: quay-ephemeral
type: Opaque
stringData:
  config.yaml: |
    # 1. Hostname
    SERVER_HOSTNAME: quay-ephemeral-quay-ephemeral.apps.ocp.lab.danielsson.us.com
    
    # 2. Security Keys
    SECRET_KEY: "change-me-to-something-random-for-sessions"
    DATABASE_SECRET_KEY: "change-me-to-something-random-for-db-encryption"
    
    # 3. Admins
    SUPER_USERS:
      - "admin"  # The username you will create

    # 4. Disable Email Verification & Mailing
    FEATURE_MAILING: false
    FEATURE_REQUIRE_EMAIL_CONFIRMATION: false
    
    # 5. Database
    DB_URI: postgresql://postgres:quay@localhost/quay
    
    # 6. Redis
    BUILDLOGS_REDIS:
        host: localhost
        port: 6379
    USER_EVENTS_REDIS:
        host: localhost
        port: 6379
        
    # 7. Storage
    DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
    DISTRIBUTED_STORAGE_PREFERENCE:
      - local_storage
    DISTRIBUTED_STORAGE_CONFIG:
      local_storage:
        - LocalStorage
        - storage_path: /datastorage/registry
    
    # 8. Setup
    SETUP_COMPLETE: true
    DB_CONNECTION_ARGS:
      threadlocals: true
      autorollback: true
