apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - metrics-utility-configmap.yaml
  - aap-postgres-cluster.yaml
  - controller-database.yml
  - eda-database.yml
  - hub-database.yml
  - gateway-database.yml
  - deploy.yaml

namespace: aap
